/* commenting out styles for css 
All Elements in HTML need to have styles from the CSS doc. 
Links
A list
3 images
2 different size headers
A table
A form

*/

body {
  background-color: paleturquoise;
}

h1 {
  color: palevioletred;
  font-family: "Redressed", cursive;
  font-size: 100px;
}

h3 {
  color: palevioletred;
  font-family: "Redressed", cursive;
}
