/* commenting out styles for css 
All Elements in HTML need to have styles from the CSS doc. 
Links
A list
3 images
2 different size headers
A table
A form

In the CSS, a class selector is a name preceded by a full stop (“.”) and an 

ID selector is a name preceded by a hash character (“#”). 

The difference between an ID and a class is that an ID can be used to identify one element, whereas a class can be used to identify more than one.
*/
#navi {
  font-family: "Rock Salt", cursive;
  font-size: 75%;
}

#mainImg {
  width: 500px;
  height: 300px;
}

.tab {
  margin-left: 40px;
}

.candySurvay {
  color: tomato;
  font-family: "Redressed", cursive;
}

body {
  background-color: paleturquoise;
  font-size: x-large;
}

h1 {
  color: palevioletred;
  font-family: "Redressed", cursive;
  font-size: 100px;
}

h3 {
  color: palevioletred;
  font-family: "Redressed", cursive;
}

img {
  border: mediumorchid;
  border-radius: 5%;
  border-color: palevioletred;
  border-style: solid;
}

p {
  font-family: "Scheherazade", Arial;
  width: auto;
  color: black;
}

ol {
  font-family: "Fugaz One", cursive;
  color: tomato;
}

iframe {
  border: mediumorchid;
  border-radius: 5%;
  border-color: yellow;
  border-style: solid;
}

tr:hover {
  background-color: cornflowerblue;
}
